<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    <title>Carrer Guidence | Aptitude Test </title>
</head>
<body style="background-image: url('/static/img/back.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">

    <div class="container">
        <div class="form-control mt-2">

            <h2 style="margin-left: 40%;">NOTICE</h2><hr>
            <p style="margin-left: 5%;">1. This test carries 4 types papers like Mathamatics, English, science and Logical reasoning.</p>
            <p style="margin-left: 5%;">2. Each test have 10 questions.</p>
            <p style="margin-left: 5%;">3. Each Questions have 1 mark.</p>
            <p style="margin-left: 5%;">4. Test have no time limit.</p>
            <a class="btn btn-primary" style="margin-left: 5%;" href="/aptitude-test/10-student/mathspaper">Start</a>
            <a class="btn btn-danger ml-2" href="/">Back</a>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>